Library/Application Support/Sublime Text/Packages/User/openAI.sublime-settings
Library/Application Support/Sublime Text/Packages/User/Package Control.*
Library/Application Support/Sublime Text/Packages/.DS_Store
